alembic==0.8.8
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
billiard==3.3.0.23
boto==2.39.0
celery==3.1.25
certifi==2017.11.5
chardet==3.0.4
click==6.7
contextlib2==0.5.5
et-xmlfile==1.0.1
expiringdict==1.1.2
Flask==0.11
Flask-Mako==0.4
geopy==1.11.0
idna==2.6
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
kombu==3.0.37
Mako==1.0.7
MarkupSafe==1.0
mypy-extensions==0.1.0
numpy==1.13.3
openpyxl==2.4.0
pandas==0.18.1
plotly==1.12.9
psycopg2==2.6.1
PuLP==1.6.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0.3
python-slugify==1.2.4
pytz==2017.3
raven==6.3.0
requests==2.18.4
simplekml==1.2.8
six==1.11.0
SQLAlchemy==1.1.5
tropofy==2.0.8
-e git+https://github.com/lb-/tropofy_facility_location.git@5e6776feb289816a1e31f0fc6f2987f8d83d44d7#egg=tropofy_facility_location
-e git+https://github.com/lb-/tropofy_starter.git@c5c9c1a06abbd9171f44ec093a55261319f1eaf9#egg=tropofy_starter
tropofycommon==1.0.3
typing==3.5.3.0
Unidecode==0.4.21
urllib3==1.22
waitress==1.4.2
Werkzeug==0.12.2
xlrd==0.9.4
xmltodict==0.10.2
